
#sidebar{
  height: 800px;
  width: 300px;
  background-color: aqua;
  margin: 0%;
  left: 0%;
}
#panel{
  background-color: #3868b0;
}

#td1{
  padding: 30px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tog{
  width: 800px;
}
#im{
  width: 40px;
  height: 60px;
}
#im1 {
  width: 95px;
  height: 120px;
}
#sidebar{
  background-color: rgba(31, 48, 56, 0.883);
  position: relative;

}
.ele{
  padding: 13px;
  color:white;
  font-weight: bolder;

}
.side{
  position: relative;
  bottom: 15px;
  margin: 12px;
}
.border{
  border-style: solid;
  border-width: 2px;
  border-color:#232528;
}
@media only screen and (max-width: 480px) {
  #sidebar{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #sidebar{
    display: none;
  }
}

